@charset "UTF-8";
html { height: 100% }
body { 
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  width:100%;
}
#header {
	width:100%;	
	height:80px;
	margin-bottom:10px;
}
#header .right {
	float:right;
	margin:1em;
	font-size:1.4em;
}
#header .left {
	float:left;
	margin-left:1em;
}
#container {
	width:100%;
	clear:both;
}
.addressBox {
	width:100%;
}
th {
	font-size: 1.2em;
	border-bottom:thin solid black;
	text-align:left;
}
table {
	border-spacing:0;
	width:100%;
}
.leftContainer {
	width:50%;
	float:left;
	padding-left:20px;
}
.content {
	padding:0 10px;
}
#map {
	hheight: 100%;
	width:50%; 
	float:right;
	position: absolute;
	top: 70px;
	bottom: 0px;
	right:0px;
}
.crashesListing {
	width:90%;
}
.crashesListing td {
	height:1.8em;
}
.clear {
	clear:both;
}
.content .halfBox {
	width:50%;
	float:left;
	min-height:200px;
}
.content .thirdBox {
	width:33%;
	float:left;
	min-height:200px;
}
h1 {
	mmargin-top:4px;
}
ul, ol, li, p, td, th {
	font-size:.9em;
	margin:.4em;
}
h2, h3 {
	margin: 0 .4em;
	padding-top:.2em;
}
.allCaps {
	text-transform:uppercase;
}
.stories {
	text-transform:uppercase;
	font-size:1.4em;
	line-height:2em;
}
#footer {
	width:99%;
	height: 160px;
	clear:both;
	background-color:#CCCCCC;
	padding:.5em;text-align:center;
}
#footer .box {
	width: 14%;
	padding:.5em;
	margin:.5em;
	float:left;
	background-color:#FFFFFF;	

}
#footer .headline {
	font-size:2.8em;
	margin-left:0;
}
.crashCluster {
	
}
.hidden {
	display: none;
}